<div class="container">
  <h1>My Gardens</h1>

  <div id="gardens" class="mb-3">
    <div class="cards">
      <% @gardens.each do |garden| %>
        <%= link_to garden_path(garden) do %>
          <%= render garden, garden: garden %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= link_to "New garden", new_garden_path, class: 'btn btn-primary' %>
</div>
